/* Håller allt */
.container {
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    width: 100%;
    height: 100%;

    margin-right: auto;
    margin-left: auto;
}